<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="nofoobar.com" content="Nofoobar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    {% block title %}
    <title>Resumes</title>
    {% endblock %}

</head>
<body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
    <div class="bg-light p-5 rounded-lg m-3">

    {% if msg == 'False' %}
   <div class="alert alert-danger" class="close">
        An error occured, Please try again!
    </div>
    {% else %}
    <div class="center">
        <table class = "table table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Skills</th>

            </tr>
            {% for resume in resumes %}
                <tr>
                    <td>{{ resume.name }}</td>
                    <td>{{ resume.email }}</td>
                    <td>{{ resume.phone }}</td>
                    <td>{{ resume.skills }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
       
    </div>
    {% endif %}

     <div>
                <a href="/uploadresume" class="button">
                  <button class="btn btn-primary" type="button" ><i class="bx bxs-cloud-upload"
                    style="font-size:1.4em;"></i> Add Resume</button>
                </a>

                <a href="/home" class="button">
                  <button class="btn btn-secondary" type="button" ><i class="bx bxs-cloud-upload"
                    style="font-size:1.4em;"></i> Go Back</button>
                </a>

    </div>

</body>
</html>

